<body>
    <header>
      <div>
        <i class="fas fa-atom"></i>
        <p>PREDICTIFY</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="question">FAQ</a></li>
        </ul>
      </nav>
    </header>
  <br>
  <br>


  <pre>
    <br>
    <br>
    <br>
  </pre>
    <section class="titles">
      <h1>PREDICTIFY</h1>
      <br />
      <br>
      <p>
        Welcome to predictify, where convenience meets quality! Our website is
        designed with one goal in mind: to make your sales forecast precisely.
      </p>
    </section>
    <br>
 
    <button class= "my-button" routerLink="/predict">Forecast With Me!</button>

   